/*

@Author: Themezinho
@URL: http://www.themezinho.net
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


// Table of contents //

	01. GOOGLE FONTS
	02.	BODY
	03.	HTML TAGS
	04.	FORM ELEMENTS
	05.	CUSTOMIZED ALERTS
	06.	BADGES
	07. BUTTONS
	08.	CUSTOMIZED ODOMETER
	09.	PROGRESS BAR
	10.	PAGINATION
	11. ACCORDION
	12. TABS
	13. PARTICLES BG
	14.	TEXT-ROTATER
	15.	REVEAL EFFECT
	17.	COUNTER
	18.	VIDEO BG
	19.	IMAGE FILTER
	20.	INSTAGRAM
	21.	FONT LIST
	22.	SWIPER
	23.	PRELOADER
	24.	LOADER
	25.	SECTIONS
	26. HEADER
	27.	SITE NAV
	28.	DROPDOWN
	29.	SIDE MENU
	30.	SEARCH BOX
	31.	TOPBAR
	32.	SLIDER
	33.	INNER HERO
	34.	SITE SECTION
	35.	PRICE LIST
	36.	OUR OFFICES
	37. 404 ERROR
	38.	ABOUT COMPANY
	39.	SIDE IMAGE CONTENT
	40.	OUR TEAM
	41.	CAREER
	42.	HIGHIGHT FEATURES
	43. HIGHLIGHT SERVICES
	44.	WORK WITH US
	45.	HIGHLIGHT SHOWCASES
	46.	HIGHLIGHT FUNFACTS
	47.	TESTIMONIALS
	48.	REQUEST FORM
	49.	HIGHLIGHT CLIENTS
	50.	WORKS
	51.	BLOG
	52.	CONTACT
	53.	FOOTER
	54.	TABLET RESPONSIVE FIXES
	55.	MOBILE RESPONSIVE FIXES

	

*/

/* GOOGLE FONTS */
/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Poppins:300,400,500,600,700,900&subset=latin-ext');*/


/* BODY */
*{outline: none !important}
body{margin: 0; padding: 0; font-family: 'Poppins', sans-serif; font-size: 14px; line-height: 1; color: #131314;}
body{-webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;}
body{height: 100%;}
html{height: 100%;}




/* LINKS */
a{color: #131314;}
a:hover{ text-decoration: underline;}
a:focus{ text-decoration: none;}
a{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out; }
a{-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}



/* HTML TAGS */
p{ margin-bottom: 15px; line-height: 20px;}
u{text-decoration: underline;}
b{font-weight: 700;}
strong{font-weight: 700;}
img{ max-width: 100%; height: auto;}



/* CUSTOM CLASSES */
.no-margin{margin: 0 !important;}
.no-padding{margin: 0 !important;}
.prettyprint{margin-bottom: 50px;}
.overflow-hidden{ overflow: hidden;}


/* BG COLORS */
.bg-color{background: #485cc7;}
.bg-color-light{background: #f5f5f5;}
.bg-color-dark{background: #131314;}



/* SIDE MENU */
.side-menu{ width: 320px; height: 100%; padding:20px 30px; position: fixed; right:0; top: 0; background: #131314; color: #fff; z-index: 4; margin-right: -320px;}
.side-menu{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.side-menu .inner{ width: 100%; height: 100%; float: left; position: relative;}
.side-menu-open{ transform: translateX(-320px);}
.side-menu .logo{ height: 40px; margin-bottom: 10%;}
.side-menu .copyright{ font-size: 11px; opacity: 0.6; position: absolute; left: 0; bottom: 0;}
.side-menu .social-media{ width: 100%; float:left; margin: 0; padding: 0; position: absolute; left: 0; bottom: 30px;} 
.side-menu .social-media li{ float: left; list-style: none; margin-right: 10px;}
.side-menu .social-media li a{ float: left; color: #fff;}
.side-menu .language{ width: 100%; float: left; margin: 0; margin-bottom: 10%; padding: 0;} 
.side-menu .language li{ float: left; list-style: none; margin-right: 20px; font-family: 'Fjalla One', sans-serif;}
.side-menu .language li a{ float: left; color: #fff; font-size: 12px; opacity: 0.6;}
.side-menu .language li a:hover{opacity: 1; text-decoration: none;}
.side-menu .site-nav{ width: 100%; max-height: 460px; float:left; margin: 0; padding: 0; overflow: auto;} 
.side-menu .site-nav .nav-item{ width: 100%; float: left; list-style: none; margin: 10px 0;}
.side-menu .site-nav .nav-item a{ width: 100%; float: left; color: #fff; padding: 0; font-size: 13px; font-weight: 600;}
.side-menu .site-nav .nav-item a:hover{text-decoration: none;}
.side-menu .site-nav .nav-item .dropdown{ width: 100%; float: left; display: none; margin-top: 5px; margin-bottom: 10px; padding: 0; padding-left: 15px;}
.side-menu .site-nav .nav-item .dropdown li{ width: 100%; float: left; list-style: none; margin: 5px 0;}
.side-menu .site-nav .nav-item .dropdown li .dropdown{ display: none;}
.side-menu .site-nav .nav-item .dropdown li a{opacity: 0.6;}
.side-menu .site-nav .nav-item .dropdown li a:hover{opacity: 1;}




/* SEARCH BOX */
.search-box{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999999; opacity: 0; visibility: hidden; padding: 20px;}
.search-box .search-content{ width: 100%; height: 100%; display: flex; flex-direction: row; background: rgba(19,19,20,0.95); color: #fff;}
.search-box .inner{ width: 100%; display: flex; flex-direction: column; justify-content: center; text-align: center; padding: 0 20%;}
.search-box .inner form{ width: 100%; float: left; margin-bottom: 80px; transform: scale(0.85); background: #fff;}
.search-box .inner form:hover button[type="submit"]{border-left: 1px solid rgba(0,0,0,0.4);}
.search-box .inner form input[type="text"]{ width: 80%; height: 70px; float: left; padding: 0 20px; color: #131314; font-size: 19px; font-weight: 300; border:none; background: transparent;}
.search-box .inner form button[type="submit"]{ width: 19%; height: 54px; float: right; margin:8px 3px; border: none; border-left: 1px solid rgba(0,0,0,0.2); background: none; color: #131314; font-weight: 700; letter-spacing: 1px;}
.search-box .inner form button[type="submit"]:hover{color:#485cc7;}
.search-box .inner h5{ font-weight: 300; margin-bottom: 20px;}
.search-box .inner ul{ display: inline-block; margin: 0; padding: 0;}
.search-box .inner ul li{ float: left; list-style: none; margin: 0 10px; padding: 0;}
.search-box .inner ul li a{ float: left; color: #fff; font-size: 13px; text-decoration: underline; opacity: 0.6;}
.search-box .inner ul li a:hover{ opacity: 1; text-decoration: none;}
.search-box{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.search-box *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.search-box.open{opacity: 1; visibility: visible; padding: 0;}
.search-box.open .inner form{ transform: scale(1); margin-bottom: 40px;}
.search-close{ position: absolute; right: 40px; top: 40px; font-size: 24px; cursor: pointer; opacity: 0.6;}
.search-close:hover{opacity: 1;}



/* TOPBAR */
.topbar{ width: 100%; height: 46px; line-height: 46px; float: left; font-size: 13px; position: relative; z-index: 4; background: #485cc7; color: #fff; padding: 0 60px;}
.topbar .contact-bar{ float: left; margin: 0; padding: 0;}
.topbar .contact-bar li{ float: left; list-style: none; border-right:1px solid rgba(255,255,255,0.1); padding-right: 31px; margin-right: 30px;}
.topbar .contact-bar li:last-child{border-right: 0; margin-right: 0; padding-right: 0;}
.topbar .contact-bar li i{ float: left; margin-left: -3px; margin-right: 4px; font-size: 17px;}
.topbar .contact-bar li strong{ font-weight: 600;}
.topbar .social-bar{ float: left; margin: 0; padding: 0;}
.topbar .social-bar span{ float: left; font-weight: 600; margin-right: 20px;}
.topbar .social-bar ul{ float: left; margin: 0; padding: 0;}
.topbar .social-bar ul li{ float: left; list-style: none; border-left:1px solid rgba(255,255,255,0.1); padding-left: 11px; margin-left: 10px;}
.topbar .social-bar ul li:first-child{border-left: 0; margin-left: 0; padding-left: 0;}
.topbar .social-bar ul li a{color: #fff;}
.topbar .social-bar ul li a:hover{opacity: 0.8;}
.topbar .language{ float: right; font-weight: 600;position: relative;}
.topbar .language a{color: #fff;}
.topbar .language a:hover{ text-decoration: none;}
.topbar .language i{ float: right; line-height: 46px; margin-left: 11px; border-left: 1px solid rgba(255,255,255,0.1); font-size: 10px; padding-left: 10px;}
.topbar .language ul{ width: 138px; margin-top: 20px; padding:10px 15px; box-shadow: 0 0 30px rgba(0,0,0,0.15); position: absolute; right: 20px; top: 100%; z-index: 2; background: #fff; opacity: 0; visibility: hidden;}
.topbar .language ul{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.topbar .language ul li{ width: 100%; height: auto; font-weight: 400; line-height: 30px; float: left; margin: 0; padding: 0; list-style: none;}
.topbar .language ul li a{color: #131314; font-size: 12px; line-height: 30px; font-weight: 600;}
.topbar .language ul li a:hover{color: #485cc7;}
.topbar .language:hover ul{ opacity: 1; visibility: visible; margin-top: 0;}



/* HEADER */
.header{ width: 100%; float: left; padding: 20px 60px; position: absolute; left: 0; top: 46px; z-index: 3; background: #fff;}
.header.sticky { position: fixed; left: 0; top: 0; z-index: 99;}
.header .logo{ float: left;}
.header .logo a{ float: left;}
.header .logo a img { height: 40px; float: left;}



/* SITE NAV */
.header .site-nav{ width: 100%; height: 40px; line-height: 40px; float: left; text-align: center; margin: 0; padding: 0;}
.header .site-nav .nav-item{display: inline-block; list-style: none; margin: 0 15px; position: relative;}
.header .site-nav .nav-item:before{content: "";  width: 4px; height: 4px; position: absolute; right: -20px; top: 50%; margin-top: -3px; background: #ccc; border-radius: 50%;}
.header .site-nav .nav-item:last-child:before{display: none;}
.header .site-nav .nav-item .nav-link{ float: left; font-weight: 600; font-size: 13px; padding:0; color: #131314;}
.header .site-nav .nav-item .nav-link:hover{ text-decoration: none; color: #485cc7;}
.header .site-nav .nav-item .nav-link:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; height: 2px; width: 0; transition: width 0s ease, background .25s ease;}
.header .site-nav .nav-item .nav-link:after { content: ''; display: block; position: absolute; right: 0; bottom: 0; height: 2px; width: 0; background: #131314; transition: width .25s ease;}
.header .site-nav .nav-item .nav-link:hover:before { width: 100%; background: #131314; transition: width .25s ease;}
.header .site-nav .nav-item .nav-link:hover:after { width: 100%; background: transparent; transition: all 0s ease;}
.header .site-nav-icons{ height: 40px; line-height: 40px; float: right; margin:0; padding: 0;}
.header .site-nav-icons li{ float: left; list-style: none; margin-left: 12px; padding-top: 1px;}
.header .site-nav-icons li:first-child{margin-left: 0;}
.header .get-quote{ height: 44px; line-height: 44px; position: absolute; right: 60px; bottom: -44px; background: #131314; padding: 0 30px; color: #fff; font-size: 12px; font-weight: 600;}



/* SHOPPING ICON */
.shopping-icon{position: relative; cursor: pointer; margin-right: 3px;}
.shopping-icon i{font-size: 19px;}



/* SEARCH ICON */
.search-icon{cursor: pointer;}
.search-icon i{font-size: 17px; cursor: pointer;}
.search-icon i:before{-webkit-font-smoothing: subpixel-antialiased;}



/* HAMBURGER MENU */
.hamburger-menu { width: 20px; height: 20px; float: right; margin-top: 12px;  position: relative; cursor: pointer;}
.hamburger-menu{-webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg);  transform: rotate(0deg);  transition-duration: 500ms;	-webkit-transition-duration: 500ms;	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);	-webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);  }
.hamburger-menu span {display: block; height: 2px; width: 17px; background: #131314; opacity: 1; position: absolute; right: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.hamburger-menu span:nth-child(1) {top: 0px;}
.hamburger-menu span:nth-child(2) {  top: 5px;}
.hamburger-menu span:nth-child(3) {  top: 10px;}
.hamburger-menu.open span:nth-child(1) {  top: 5px;  -webkit-transform: rotate(135deg);  -moz-transform: rotate(135deg);  -o-transform: rotate(135deg);  transform: rotate(135deg);}
.hamburger-menu.open span:nth-child(2) {  opacity: 0;  right: -20px;}
.hamburger-menu.open span:nth-child(3) {  top: 5px;  -webkit-transform: rotate(-135deg);  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);  transform: rotate(-135deg);}


/* NAVBAR DROPDOWN */
.header .site-nav .nav-item .dropdown{ width: 190px; margin: 0; padding:10px 20px; box-shadow: 0 0 30px rgba(0,0,0,0.15); position: absolute; left:-5px; top: 120%; margin-top: 20px; z-index: 1; background: #fff; visibility: hidden; opacity: 0;}
.header .site-nav .nav-item .dropdown:before{content: ""; width: 100%; height: 20px; position: absolute; left: 0; top: -20px;}
.header .site-nav .nav-item .dropdown{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.header .site-nav .nav-item .dropdown li{ width: 100%; float: left; line-height: 30px; text-align: left; list-style: none; position: relative;}
.header .site-nav .nav-item .dropdown li a{ width: 100%; float: left; color: #131314; font-size: 12px; font-weight: 500; padding:3px 0; border-bottom: 1px solid #eee;}
.header .site-nav .nav-item .dropdown li a:hover{text-decoration: none; color: #485cc7;}
.header .site-nav .nav-item .dropdown li a:after{display: none;}
.header .site-nav .nav-item .dropdown li:last-child a{ border-bottom: none;}
.header .site-nav .nav-item .dropdown li .dropdown{ margin-top:-10px;}
.header .site-nav .nav-item:hover .dropdown{opacity: 1; visibility: visible; top: 100%;}
.header .site-nav .nav-item .dropdown li .dropdown{ top: 0; left: 100%; !important; opacity: 0;}
.header .site-nav .nav-item:hover .dropdown li:hover .dropdown{opacity: 1; visibility: visible;}




/* MEGA DROPDOWN */
.mega-dropdown{ width: 100%; padding-top:20px; padding-bottom: 20px; position: absolute; top: 120%; left: 0; visibility: hidden; opacity: 0; background: #131314;}
.mega-dropdown:before{ content: ""; width: 100%; height: 20px; position: absolute; left: 0; top: -20px; background: transparent;}
.mega-dropdown{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.mega-dropdown ul{ width: 100%; float: left; margin: 0; padding: 0;}
.mega-dropdown ul li{ width: 100%; float: left; margin: 10px 0; padding: 0; list-style: none}
.mega-dropdown ul li a{width: 100%; float: left; color: #fff; opacity: 0.7;}
.mega-dropdown ul li a:hover{text-decoration: none; opacity: 1;}
.mega-dropdown.open{opacity: 1; visibility: visible; top: 100%;}



/* SLIDER */
.slider{ width: 100%; height: 100%; float: left; overflow: hidden;}
.slider.fullscreen{ min-height: 100vh; }
.slider .header-overlay{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #131314; opacity: 0.4;}
.slider h2{ color: #fff; font-size: 40px; line-height: 50px; margin-top: 0; margin-bottom: 30px;}
.slider p{color: #fff;}
.slider .main-title{color: #fff; font-family: 'Playfair Display', serif !important;}
.slider .sub-title{color: #fff; line-height: 25px;}
.slider .slide-icon{ font-size: 40px; color: #fff;}
.slider .slide-btn{ min-width: auto !important; font-size: 13px; line-height: 52px; font-weight: 700; color: rgba(255,255,255,1); background-color:#485cc7; border-radius:52px; box-shadow:10px 10px 50px rgba(0,0,0,0.3) !important; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; cursor:pointer; text-decoration: none; }
.slider .slide-btn:hover{opacity: 0.95 !important;}
.slider .tp-bannertimer{height: 4px; background-color: rgba(255, 255, 255, 0.25); top: auto !important; bottom: 0 !important;}
.slider .tp-bullet{ width: 12px; height: 12px; transform: scale(0.4); background: #fff; opacity: 1; border-radius: 50%;}
.slider .tp-bullet .tp-bullet-inner{display: none !important;}
.slider .tp-bullet:hover{-webkit-transition: box-shadow 0.3s ease; transition: box-shadow 0.3s ease; -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease; transition: background-color 0.3s ease, transform 0.3s ease; -webkit-transform: scale(1); box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); border: 2px solid #fff; background: none;}
.slider .tp-bullet.selected{-webkit-transition: box-shadow 0.3s ease; transition: box-shadow 0.3s ease; -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease; transition: background-color 0.3s ease, transform 0.3s ease; -webkit-transform: scale(1); box-shadow: 0 0 0 2px rgba(255, 255, 255, 0); border: 2px solid #fff; background: none;}



/* INNER HERO */
.inner-hero{ width: 100%; float: left; padding: 0 60px; padding-top: 160px; padding-bottom:80px; background: url(../images/hero4.jpg) no-repeat; background-size: cover; color: #fff; position: relative;}
.inner-hero:after{content: ""; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #485cc7; opacity: 0.8; }
.inner-hero .container-fluid{position: relative; z-index: 2;}
.inner-hero h4{ font-size: 60px; font-weight: 400; font-family: 'Playfair Display', serif; margin-top: 0; margin-bottom: 20px; line-height: 1.2;}
.inner-hero .breadcrumb{margin: 0; padding: 0; background: none;}
.inner-hero .breadcrumb .breadcrumb-item{ color: #fff; font-size: 11px;}
.inner-hero .breadcrumb .breadcrumb-item:before{color: #fff;}
.inner-hero .breadcrumb .breadcrumb-item a{color: #fff;}
.inner-hero .breadcrumb .breadcrumb-item.active{font-weight: 700;}



/* MAIN */
main{ width: 100%; float: left; background: #fff; position: relative; z-index: 3;}
main{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;}
main{-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}



/* SITE SECTION */
.site-section{width: 100%; float: left; padding: 100px 0;}
	


/* TITLES */
.titles{ width: 100%; float: left; margin-bottom: 100px;}
.titles.light{color: #fff;}
.titles.light h6{color: #fff;}
.titles.light h5{color: #fff;}
.titles h6{ width: 100%; float: left; color: #485cc7; letter-spacing: 0; font-size: 11px; font-family: 'Fjalla One', sans-serif;}
.titles h5{ width: 100%; float: left; color: #485cc7; letter-spacing: 2px; font-size: 13px; font-family: 'Fjalla One', sans-serif;}
.titles h2{ width: 100%; float: left; font-size: 60px; line-height: 60px; font-family: 'Playfair Display'; margin-bottom: 50px;}
.titles p{ opacity: 0.6; line-height: 24px; font-weight: 300; margin-bottom: 0;}
.titles span{ width: 32px; height: 2px; display: inline-block; background: #eee; margin: 20px 0; }
.titles .button-light{height: 46px; line-height: 44px; display: inline-block; padding: 0 30px; border: 2px solid #fff; color: #fff; font-weight: 600; border-radius: 46px; margin-top: 40px;}
.titles .button-light:hover{ background: #fff; color: #485cc7; text-decoration: none;}



/* PRICE LIST */
.price-list{width: 100%; float: left;}
.price-list .price-box{ width:100%; float:left; background:#fff; padding-bottom:30px; position:relative; text-align: center; border: 1px solid #eee;}
.price-list .price-box.recommended{ margin-top:-31px; border-top: 5px solid #485cc7;}
.price-list .price-box .price-header{ width:100%; float:left; padding:30px; margin-bottom:30px; border-bottom:1px solid rgba(0,0,0,0.05);}
.price-list .price-box .price-header h3{ margin-top:10px; margin-bottom:15px; font-family: 'Playfair Display', serif; font-size:29px;}
.price-list .price-box .price-header h5{ margin:0; color:#485cc7; font-size: 12px; font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
.price-list .price-box .price{ width:100%; float:left; text-align:center; font-size:50px; font-weight: 700; margin-bottom: 20px; }
.price-list .price-box .price span{ font-size:20px; display:inline-block; margin-right:6px; transform:translateY(-22px);}
.price-list .price-box .price small{ font-size:15px; margin-left:10px; display:inline-block; color:#999;}
.price-list .price-box p{ opacity: 0.7; font-size: 12px;}
.price-list .price-box i{ color: #485cc7;}
.price-list .price-box ul{ width:100%; float:left; margin:0; margin-bottom:30px; padding:0;}
.price-list .price-box ul li{ width:100%; float:left; margin:5px 0; padding:0; list-style:none; opacity: 0.7;}
.price-list .price-box a{height: 46px; line-height: 44px; display: inline-block; padding: 0 30px; border: 2px solid #485cc7; color: #485cc7; font-weight: 600; border-radius: 46px;}
.price-list .price-box a:hover{ background: #485cc7; color: #fff; text-decoration: none;}



/* OUR OFFICES */
.our-offices{width: 100%; float: left;}
.our-offices address{ width: 100%; float: left; margin-bottom: 50px;}
.our-offices address span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 12px;}
.our-offices address h5{ margin-bottom: 15px; font-family: 'Playfair Display', serif; font-size: 20px; line-height: 30px; position: relative;}
.our-offices address small{ display: block; font-size: 14px; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-top: 20px;}
.our-offices address small a{color: #485cc7; margin-top: 20px; }
.our-offices address p{ display: block; line-height: 24px; font-size: 13px; opacity: 0.7; margin-bottom: 10px;}
.our-offices address p a{text-decoration: underline;}



/* ERROR 404 */
.error-404{ width: 100%; float: left;}
.error-404 img{ width: 60%; display: inline-block; margin-bottom: 30px;}
.error-404 h2{ font-family:'Playfair Display', serif; margin-bottom: 20px;}
.error-404 a{ display: block; font-size: 14px; font-family: 'Fjalla One', sans-serif; color: #485cc7;}
.error-404 a:hover{text-decoration: none;}



/* ABOUT COMPANY */
.about-company{ width: 100%; float: left;}
.about-company p{ opacity: 0.6; line-height: 24px; font-weight: 300;}
.about-company figure{ width: 100%; float: left; margin-bottom: 30px;}



/* SIDE IMAGE CONTENT */
.side-image-content{ width: 100%; display:flex; flex-direction: row;}
.side-image-content .inner{ width: 50%; display: flex; justify-content: center; flex-direction: column; background:#f5f5f5;}
.side-image-content .inner.content{ float: left; padding: 0 calc(25vw - 270px);}
.side-image-content .inner.content .content-wrap{ width: 100%; float: left;}
.side-image-content .inner img{ width: 100%;}
.side-image-content .inner h5{ width: 100%; float: left; color: #485cc7; letter-spacing: .2em; font-size: 13px; font-family: 'Fjalla One', sans-serif; margin: 0;}
.side-image-content h2{ width: 100%; float: left; font-size: 60px; font-weight: 400; font-family: 'Playfair Display', serif; margin-bottom: 30px; margin-top: 0; line-height: 1.2;}
.side-image-content p{ opacity: 0.6; line-height: 24px; font-weight: 300; margin-bottom: 30px;}
.side-image-content span{ width: 32px; height: 2px; display: inline-block; background: #ccc; margin-top: 30px; margin-bottom: 10px; }
.side-image-content a{height: 46px; line-height: 44px; display: inline-block; padding: 0 30px; border: 2px solid #485cc7; color: #485cc7; font-weight: 600; border-radius: 46px;}
.side-image-content a:hover{ background: #485cc7; color: #fff; text-decoration: none;}




/* OUR TEAM */
.our-team{width: 100%; float: left;}
.our-team .team-member{ width: 100%; float: left; position: relative; margin-bottom: 50px;}
.our-team .team-member figure{ width: 100%; float: left; margin-bottom: 15px;}
.our-team .team-member figure img { width: 100%; float: left;}
.our-team .team-member .team-content{ width: 100%; float: left;}
.our-team .team-member .team-content small{ width: 100%; display: block; font-size: 14px; color: #485cc7; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-bottom: 20px;}
.our-team .team-member .team-content h6{ display: block; margin-bottom: 15px; font-family: 'Playfair Display', serif; font-size: 20px; line-height: 30px; position: relative;}
.our-team .team-member .team-content span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 20px;}
.our-team .team-member .team-content ul{ width: 100%; float: left; margin: 0; padding: 0;}
.our-team .team-member .team-content ul li{list-style: none; float: left; margin-right: 15px;}



/* CAREER */
.career{ width: 100%; float: left;}
.career form{ margin-bottom: 100px;}
.career input{width: 100%;}
.career select{width: 100%;}
.career .job-positions{ width: 100%; float: left; margin: 0; padding: 0; text-align: left;}
.career .job-positions li{ width: 100%; float: left; padding: 40px 20px; line-height: 40px;  list-style: none; border-bottom: 1px solid #eee;}
.career .job-positions li:last-child{border-bottom: none;}
.career .job-positions li small{ width: 150px; float: left; font-weight: 700; color: #999; }
.career .job-positions li h4{ float: left; margin: 0; font-family: 'Playfair Display', serif;font-size: 30px;}
.career .job-positions li a{height: 42px; line-height: 40px; float: right; padding: 0 20px; border: 2px solid #485cc7; color: #485cc7; font-weight: 600; border-radius: 42px;}
.career .job-positions li a:hover{ background: #485cc7; color: #fff; text-decoration: none;}




/* ICON FEATURES NEW */
.icon-features-new{ width: 100%; float: left; color: #fff;}
.icon-features-new .icon-boxes{ width: 100%; float: left; position: relative; margin-bottom: 50px; padding-left: 10%;}
.icon-features-new .icon-boxes .icon{ width: 70px; float: left; font-size: 40px;}
.icon-features-new .icon-boxes .icon i{ font-size: 45px;}
.icon-features-new .icon-boxes .content{ width: calc(100% - 70px); float: left;}
.icon-features-new .icon-boxes .content span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 12px;}
.icon-features-new .icon-boxes .content h6{ margin-bottom: 15px; font-family: 'Playfair Display', serif; font-size: 20px; line-height: 30px; position: relative; text-transform: uppercase;}
.icon-features-new .icon-boxes .content h6 b{position: absolute; width: 100%; top: -20px; left: 0; font-size: 50px; line-height: 50px; opacity: 0.05; font-weight: 300; font-family: 'Fjalla One', sans-serif;}
.icon-features-new .icon-boxes .content p{ display: block; line-height: 24px; font-size: 13px; opacity: 0.7; margin-bottom: 0;}
.icon-features-new .icon-boxes.last{margin-bottom: 0;}



/* ICON FEATURES */
.icon-features { width: 100%; float: left; position: relative; text-align: center;}
.icon-features img{ width: 130px;}
.icon-features span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 12px;}
.icon-features h4{ margin-bottom: 15px; font-family: 'Playfair Display', serif; font-size: 20px; line-height: 30px;}
.icon-features p{ display: block; line-height: 20px; font-size: 13px; opacity: 0.7; margin-bottom: 0;}




/* SHOWCASES */
.showcases{ width: 100%; float: left;}
.showcases .showcase{ width: 100%; float: left; position: relative; margin-bottom: 30px;}
.showcases .showcase img{ width: 100%; float: left; margin-bottom: 20px;}
.showcases .showcase span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 12px;}
.showcases .showcase h4{ margin-bottom: 15px; font-family: 'Playfair Display', serif; font-size: 20px; line-height: 30px; position: relative;}
.showcases .showcase h6{ width: 100%; font-size: 14px; color: #485cc7; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-bottom: 20px;}
.showcases .showcase p{ display: block; line-height: 20px; font-size: 13px; opacity: 0.7; margin-bottom: 20px;}
.showcases .showcase a{display: inline-block; font-weight: 600; font-size: 12px; padding-bottom: 6px; position: relative;}
.showcases .showcase a:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; height: 2px; width: 0; transition: width 0s ease, background .25s ease;}
.showcases .showcase a:after { content: ''; display: block; position: absolute; right: 0; bottom: 0; height: 2px; width: 0; background: #131314; transition: width .25s ease;}
.showcases .showcase a:hover{text-decoration: none;}
.showcases .showcase a:hover:before { width: 100%; background: #131314; transition: width .25s ease;}
.showcases .showcase a:hover:after { width: 100%; background: transparent; transition: all 0s ease;}




/* COUNTER FACTS */
.counter-facts{ width: 100%; float: left;}
.counter-facts h6{ margin-bottom: 15px; margin-top: 20px; font-family: 'Playfair Display', serif; font-size: 26px;}
.counter-facts h2{margin-top: 20px; margin-bottom: 0;}




/* TESTIMONIALS */
.testimonials{ width: 100%; float: left; color: #fff; text-align: center;}
.testimonials p{ padding: 0 15%;}
.testimonials i{ width: 100%; float: left; text-align: center; font-size: 70px; opacity: 0.2; margin-top: -45px; margin-bottom: 20px;}
.testimonials img{ width: 90px; display: inline-block; border-radius: 50%; position: relative; z-index: 2; margin-bottom: 20px;}
.testimonials h4{ font-size: 17px; font-weight: 700; text-transform: uppercase;}
.testimonials small{display: block; margin-bottom: 30px;}




/* REQUEST FORM */
.request-form {color: #fff;}
.request-form h5{ width: 100%; font-size: 14px; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-bottom: 20px;}
.request-form h6{ color: #131314; letter-spacing: .2em; font-size: 12px; font-family: 'Fjalla One', sans-serif;}
.request-form h2{ font-size: 60px; font-weight: 400; font-family: 'Playfair Display', serif; margin: 30px 0; line-height: 1.2;}
.request-form button[type="submit"]{ height: 52px; padding: 0 30px; background: #131314; font-weight: 700; color: #fff;}
.request-form input[type="text"]{border: none; color: #131314;}
.request-form select{border: none; color: #131314;}




/* HIGHLIGHT CLIENTS */
.clients{ width: 100%; float: left; padding: 50px 0;}
.clients ul{ width: 100%; float: left; margin: 0; padding: 0;}
.clients ul li{ width: 16.66666%; float: left; margin: 0; padding: 0; list-style: none;}
.clients ul li figure{ width: 100%; float: left; opacity: 0.4; margin: 0; padding:0 10%;}
.clients ul li figure{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.clients ul li figure h6{margin: 0;}
.clients ul li figure img{ width: 100%; }
.clients ul li figure:hover{ opacity: 0.7;}



/* WORKS */
.works{width: 100%; float: left;}
.works .isotope-filter{ width: 100%; float: left; margin-bottom: 30px; padding: 0; text-align: center;}
.works .isotope-filter li{ display: inline-block; margin: 0 15px; padding: 0; list-style: none;}
.works .isotope-filter li a{ font-size: 13px; font-weight: 500;}
.works .isotope-filter li a:hover{text-decoration: none;}
.works .isotope-filter li a.current{color: #485cc7;}
.works figure{ width: 100%; float: left; position: relative; margin: 0; overflow: hidden;}
.works figure *{-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-ms-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}
.works figure a{ width: 100%; float: left; }
.works figure img{ width: 100%; float: left; opacity: 1; }
.works figure figcaption{ width: 100%; height: 100%; float: left; position: absolute; left: 0; bottom: 0; color: #fff; font-size: 13px; font-weight: 700; opacity: 0; padding: 0;  background:rgba(72,92,199,0.90);}
.works figure figcaption a{ width: 100%; height: 100%; float: left; color: #fff; padding: 30px; justify-content: center; text-align: center; display: flex; flex-direction: column; }
.works figure figcaption a:hover{color: #fff; text-decoration: none;}
.works figure figcaption h5{ width: 100%; float: left;transform: translateY(-10px); opacity: 0; font-family: 'Playfair Display', serif; font-size: 30px;}
.works figure figcaption span{ width: 100%; height: 3px; float: left; margin-bottom: 15px; position: relative;}
.works figure figcaption span:after{content: ""; width: 40px; height: 3px; background: #fff; position: absolute; left: 50%; top: 0; margin-left: -20px; }
.works figure figcaption small{ width: 100%; float: left; transform: translateY(10px); opacity: 0; font-weight: 700;}
.works figure:hover figcaption{ opacity: 1;}
.works figure:hover img{transform: scale(1.05);}
.works figure:hover figcaption h5{transform: translateY(0); opacity: 1;}
.works figure:hover figcaption small{transform: translateY(0); opacity: 1;}
.works .grid-sizer { width: 25%;}
.works .grid-item{ width: 25%; float: left; }
.works .two-cols{ width: 100%; float: left;}
.works .two-cols .grid-sizer{ width: 50%; float: left;}
.works .two-cols .grid-item{ width: 50%; float: left; padding: 15px;}
.works .three-cols{ width: 100%; float: left;}
.works .three-cols .grid-sizer{ width: 33.33333%; float: left;}
.works .three-cols .grid-item{ width: 33.33333%; float: left; padding: 15px;}
.works .four-cols{ width: 100%; float: left;}
.works .four-cols .grid-sizer{ width: 25%; float: left;}
.works .four-cols .grid-item{ width: 25%; float: left;}
.works .four-cols .grid-item-double{ width: 50%; float: left;}
.works .five-cols{ width: 100%; float: left;}
.works .five-cols .grid-sizer{ width: 20%; float: left;}
.works .five-cols .grid-item{ width: 20%; float: left;}
.works .five-cols .grid-item-double{ width: 40%; float: left;}





/* BLOG */
.blog{width: 100%; float: left;}
.blog .blog-post{ width: 100%; float: left; margin-bottom: 100px;}
.blog .blog-post .blog-image{ width: 100%; float: left; margin-bottom: 20px; position: relative;}
.blog .blog-post .blog-image img{ width: 100%; float: left;}
.blog .blog-post .blog-image .blog-category{ position: absolute; left: -10px; bottom: 20px; background: #485cc7; color: #fff; padding: 4px 10px; font-weight: 700;}
.blog .blog-post .blog-content{ width: 100%; float: left;}
.blog .blog-post .blog-content span{ width: 32px; height: 3px; display: inline-block; background: #eee; margin-bottom: 20px;}
.blog .blog-post .blog-content h5{ margin-bottom: 25px; font-family: 'Playfair Display', serif; font-size: 34px; line-height: 30px; position: relative;}
.blog .blog-post .blog-content .post-info{ width: 100%; float: left; font-size: 11px; color: #485cc7; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-bottom: 10px;}
.blog .blog-post .blog-content p{ display: block; line-height: 24px; font-size: 13px; opacity: 0.7; margin-bottom: 20px;}
.blog .blog-post .blog-content ul{display: block; margin-bottom: 20px; padding-left: 20px;}
.blog .blog-post .blog-content ul li{ margin-bottom: 10px; opacity: 0.7;}
.blog .blog-post .blog-content blockquote{ width:100%; float:left; border-left:4px solid #485cc7; margin-bottom:40px; padding-left: 30px;}
.blog .blog-post .blog-content blockquote p{ font-size:25px; line-height:35px; font-style:italic; font-family:'Playfair Display', serif;}
.blog .blog-post .blog-content blockquote h5{ color:#485cc7; font-size:18px; font-weight:700; margin-bottom: 0;} 
.blog .blog-post .blog-content a{display: inline-block; font-weight: 600; font-size: 14px; padding-bottom: 6px; position: relative;}
.blog .blog-post .blog-content a:before { content: ''; display: block; position: absolute; left: 0; bottom: 0; height: 2px; width: 0; transition: width 0s ease, background .25s ease;}
.blog .blog-post .blog-content a:after { content: ''; display: block; position: absolute; right: 0; bottom: 0; height: 2px; width: 0; background: #131314; transition: width .25s ease;}
.blog .blog-post .blog-content a:hover{text-decoration: none;}
.blog .blog-post .blog-content a:hover:before { width: 100%; background: #131314; transition: width .25s ease;}
.blog .blog-post .blog-content a:hover:after { width: 100%; background: transparent; transition: all 0s ease;}
.blog .post-tags{ width: 100%; float: left; border-top: 2px solid #eee; padding-top: 30px; margin-bottom: 30px;}
.blog .post-tags h6{font-size: 15px; color: #485cc7; font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
.blog .post-tags ul{ float: left; margin: 0; padding: 0;}
.blog .post-tags ul li{ float:left; margin:0 5px 5px 0; list-style:none;}
.blog .post-tags ul li a{height:26px; line-height:26px; display:inline-block; margin-bottom:5px; color:#fff; background:#ccc; padding:0 7px; font-size:11px;}
.blog .post-tags ul li a:hover{ text-decoration:none; background:#4A5CC8;}
.blog .post-share{ width: 100%; float: left; margin-bottom: 30px;}
.blog .post-share ul{ width: 100%; float: left; margin: 0; padding: 0;}
.blog .post-share ul li{ float: left; color: #fff; list-style: none;}
.blog .post-share ul li a{ float: left; color: #fff; height: 44px; line-height: 44px; padding: 0 20px;}
.blog .post-share ul li a:hover{text-decoration: none; opacity: 0.7;}
.blog .post-share ul li i{margin-right: 10px;}
.blog .post-share ul li.facebook{background: #3b5998;}
.blog .post-share ul li.twitter{background: #1da1f2;}
.blog .post-share ul li.linkedin{background: #0077b5;}
.blog .post-comment{ width: 100%; float: left;}
.blog .post-comment h6{font-size: 15px; color: #485cc7; font-family: 'Fjalla One', sans-serif; text-transform: uppercase; margin-bottom: 20px;}
.blog .post-comment .comments{ width: 100%; float: left;}
.blog .post-comment .comments .comment{ width: 100%; float: left; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #eee;}
.blog .post-comment .comments .comment.inner{ padding-left: 80px;}
.blog .post-comment .comments .comment .comment-avatar{ width: 80px; float: left;}
.blog .post-comment .comments .comment .comment-avatar img{ width: 60px; float: left; border-radius: 50%;}
.blog .post-comment .comments .comment .comment-content{ width: calc(100% - 80px); float: left;}
.blog .post-comment .comments .comment .comment-content h4{font-family:'Playfair Display', serif; font-size: 18px;}
.blog .post-comment .comments .comment .comment-content p{opacity: 0.7;}
.blog .post-comment .comments .comment .comment-content small{font-family: 'Fjalla One', sans-serif; text-transform: uppercase;}
.blog .post-comment .comments .comment .comment-content a{ float: right; font-weight: 600; font-size: 12px;}
.blog .post-comment textarea{ width: 100%;}
.blog .post-comment .comment-form{ width: 100%; float: left; margin-top: 40px;}
.blog .side-bar{ width: 100%; float: left; padding-left:10%; }
.blog .side-bar .widget{ width:100%; float:left; margin-bottom:35px;}
.blog .side-bar .widget .widget-title{ font-size:22px; font-family: 'Playfair Display', serif; position:relative; padding-bottom:20px; margin-bottom:25px; margin-top:0;}
.blog .side-bar .widget .widget-title:after{content:''; width: 32px; height: 3px; background: #eee; position:absolute; left:0; bottom:0;}
.blog .side-bar .categories{ width:100%; float:left; margin:0; padding:0;}
.blog .side-bar .categories li{ width:100%; float:left; border:1px solid #eee; list-style:none; margin-top:-1px; padding:20px;}
.blog .side-bar .categories li a{ float:left; font-size:13px; font-weight:700;}
.blog .side-bar .categories li a:hover{ text-decoration:none; color:#4A5CC8;}
.blog .side-bar .categories li.active a{ color:#4A5CC8;}
.blog .side-bar .tags{ width:100%; float:left; margin:0; padding:0;}
.blog .side-bar .tags li{ float:left; margin:0 5px 5px 0; list-style:none;}
.blog .side-bar .tags li a{height:26px; line-height:26px; display:inline-block; margin-bottom:5px; color:#fff; background:#ccc; padding:0 7px; font-size:11px;}
.blog .side-bar .tags li a:hover{ text-decoration:none; background:#4A5CC8;}
.blog .side-bar .gallery{ width:100%; float:left; margin:0; padding:0;}
.blog .side-bar .gallery li{ width:33.33333%; float:left; padding:0 4px 8px 0; list-style:none;}
.blog .side-bar .gallery li img{ width:100%;}
.blog .side-bar .download-box{ width:100%; float:left; background:#4A5CC8; padding:25px;}
.blog .side-bar .download-box i{ width: 52px; height:55px; font-size:50px; color:#fff; float:left;}
.blog .side-bar .download-box a{ width:calc(100% - 52px); float:left; font-size:30px; color:#fff; font-family:'Fjalla One', sans-serif; margin-top:5px; margin-bottom: 3px;}
.blog .side-bar .download-box a:hover{ text-decoration:none;}
.blog .side-bar .download-box small{ width:calc(100% - 52px); float:left; color:#fff; font-weight:700; text-indent:1px; opacity:0.5;}




/* CONTACT */
.contact{width: 100%; float: left; padding-top: 150px;}
.contact .titles{ width: 100%; float: left;}
.contact .titles h5{ color: #4A5CC8; letter-spacing: .2em; font-size: 13px; font-family: 'Fjalla One', sans-serif;}
.contact .titles h2{ font-size: 60px; font-weight: 400; font-family: 'Playfair Display', serif; margin: 30px 0; line-height: 1.2;}
.contact .titles p{ opacity: 0.6; line-height: 24px; font-weight: 300; padding-right: 20%;}
.contact .titles span{ width: 32px; height: 2px; display: inline-block; background: #eee; margin-top: 30px; }
.contact .titles address{ width: 100%; float: left;}
.contact .titles address p{ opacity: 1; font-size: 13px; font-weight: 500;}
.contact .titles address a{color: #4A5CC8; text-decoration: underline;}
.contact form{  margin-top: 100px}
.contact form input{ width: 100%;}
.contact form textarea{ width: 100%;}
.contact .alert{ width:100%; float:left;}
.contact #success, .contact #error {display:none}
.contact #success, .contact #error { float:left;}
.contact #contact label.error{ width:100%; color:red; margin-top: 10px;}
.contact #contact input.error, textarea.error{ width:100%; border:1px solid red;}
.map{ width: 100%; height: 420px; float: left; margin-top:100px;  background: #4A5CC8;}




/* FOOTER */
.footer{ background: #131314; color: #fff; padding: 50px 75px; display: flex; justify-content: center; flex-direction: column; position: fixed; left: 0; bottom: 0; z-index: -2;}
.footer .inner{ width: 100%; display: block;}
.footer .footer-bar{ width: 100%; padding: 30px 20px; background: #131314; color: #fff; margin-bottom: 50px;}
.footer .footer-bar h2{margin: 0;}
.footer .logo{ height: 40px; float: left; margin-bottom: 20px; }
.footer p{line-height: 24px; opacity: 0.6;}
.footer small{ opacity: 0.6;}
.footer a{color: #fff;}
.footer .sub-footer{ width: 100%; height: 70px; line-height: 70px; margin-bottom: -50px; margin-top: 30px; float: left; border-top: 1px solid rgba(255,255,255,0.1);}
.footer .footer-title{ font-size: 12px; font-weight: 600; letter-spacing: 0.5px; margin-top: 17px; margin-bottom: 20px;}
.footer .footer-menu{ float: left; line-height: 22px; margin: 0; padding:0;	}
.footer .footer-menu.full li{width: 50%; margin: 0;}
.footer .footer-menu li{float: left; margin-right: 25px; list-style: none;}
.footer .footer-menu li:last-child{margin-right: 0;}
.footer .footer-menu li a{float: left; color: #fff; opacity: 0.6;}
.footer .footer-menu li a:hover{text-decoration: none; opacity: 1;}
.footer .copyright{display:inline-block; line-height: 22px; opacity: 0.8;}
.footer ul{ float: left;}
.footer ul li{ float: left;}
.footer-spacing{ width: 100%; float: left;}




/* SCROLL UP */
.scrollup { width: 40px; height: 40px; line-height:40px; text-align:center; color: #fff; position: fixed; bottom: 20px; right: 20px; display: none; background-color: #131314; z-index: 9;}
.scrollup:hover{ color: #fff;}



/* TABLET RESPONSIVE FIXES */
@media only screen and (max-width: 989px), only screen and (max-device-width: 989px) {
.topbar{ padding-left: 20px; padding-right: 20px;}	
.header{ padding-left: 20px; padding-right: 20px;}	
.icon-features-new .icon-boxes{ padding-left: 0;}
.testimonials p{padding: 0 5%;}
.clients ul li{width: 33.33333%;}
.search-box .inner{padding: 0 10%;}
.search-box .inner form input[type="text"]{width: 79%;}
.request-form h2{margin-bottom: 50px;}
.blog .side-bar{padding: 0; margin-top: 50px;}
.inner-hero{padding-left:15px; padding-right: 15px;}
.works .three-cols .grid-item{  width: 50%;}
.works .three-cols .grid-sizer{  width: 50%;}
.works .four-cols .grid-item{  width: 50%;}
.works .four-cols .grid-item-double{  width: 100%;}
input[type="text"]{ width: 100%; line-height: 52px; border-radius: 0; box-shadow: none;}
textarea{ width: 100%; line-height: 52px; border-radius: 0; box-shadow: none;}
.footer{position: static;}
.footer-spacing{display: none;}
}



/* MOBILE RESPONSIVE FIXES */
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
.side-menu-open{ transform: translateX(-320px);}
.search-close{ top: 10px; right: 10px;}
.search-box .inner form button[type="submit"]{padding: 0; font-size: 13px;}
.search-box .inner form input[type="text"]{font-size: 15px;}
.search-box .inner ul li a{font-size: 11px;}
.topbar .contact-bar li{ margin-right: 10px; padding-right: 10px; font-size: 11px; }
.topbar .contact-bar li strong{display: none;}
.topbar .contact-bar li i{display: none;}
.topbar{ padding-left: 0; padding-right: 0;}	
.header{ padding-left: 0; padding-right: 0;}
.search-box .inner{padding: 0;}
.search-box .inner form input[type="text"]{width: 69%;}
.search-box .inner form button[type="submit"]{width: 29%;}
.search-box .inner ul li{margin: 0 6px;}
.icon-features-new .titles{margin-bottom: 50px;}
.icon-features .icon-boxes{padding: 0 10%; margin-bottom: 50px;}
.counter-facts h2{margin-bottom: 50px;}
.counter-facts h6{font-size: 18px;}
.counter-facts{ text-align: left !important; margin-bottom: 30px;}
.price-list .price-box{margin-bottom: 50px;}
.career .job-positions li small{ width: 100%; float: left;}
.career .job-positions li h4{ width: 100%; float: left; font-size: 22px;}
.career .job-positions li a{float: left; margin-top: 15px}
.works .two-cols .grid-item{  width: 100%;}
.works .two-cols .grid-sizer{  width: 100%;}
.works .three-cols .grid-item{  width: 100%;}
.works .four-cols .grid-item{  width: 100%;}
.works .four-cols .grid-item-double{  width: 100%;}
.footer{ padding-left: 20px; padding-right: 20px;}	
}
